<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCH0u7F-UR0mujdA6LoG0H1Hrlv6V-XlfI</string>
	<key>GCM_SENDER_ID</key>
	<string>642949879787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prestigeAutomobile</string>
	<key>PROJECT_ID</key>
	<string>prestige-automobile</string>
	<key>STORAGE_BUCKET</key>
	<string>prestige-automobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642949879787:ios:ad0d42107cd4352145abae</string>
</dict>
</plist>